.container-menu{
    width: 20%;
    height: 100vh;

    color: #fff;
    background-color: #353535;
}
.container-menu ul{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-menu ul li{
    width: 90%;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-size: 14x;
    border-bottom: 1px solid #5a5a5a;
}
