@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
.sectionCadastro{
    width: 97%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    
    .novoUser{
        width: 40%;
        padding: 1rem;

        display: flex;
        margin: 0 auto;
        flex-direction: column;

        border: 1px solid gray;
        
        .inputNovoUser{
            width: 60%;

            padding: 8px;
            margin: 0 auto;
            font-size: 14px;
            margin-top: 1rem;
            border-radius: 1rem;
            border: 1px gray solid;
        }

        .buttons{
            display: flex;
            margin-top: 2rem;
            justify-content: space-between;

            .return{
                width: 20%;
                height: 2rem;
                
                font-size: 14px;
                font-family: 'Poppins', sans-serif;

                border: none;
                margin-top: 1rem;
                border-radius: 5px;
                border: 1px solid gray;
        
                color: black;
                background-color: white;
            }
            
            button{
                width: 20%;
                height: 2rem;
                margin: 0 auto;

                font-size: 14px;
                font-family: 'Poppins', sans-serif;
                
                border: none;
                margin-top: 1rem;
                border-radius: 5px;
                
                color: white;
                background-color: palevioletred;
            }
        }
    }
}